<div class="dashboard">

  <h1>Dashboard FORD</h1>

  <div class="informacoes">

    <!-- VEÍCULO -->
    <div class="card veiculo-card">

      <h3>Veículo</h3>

      <select
        [value]="veiculoSelecionado?.id"
        (change)="selecionarVeiculo($event)">

        <option
          *ngFor="let veiculo of veiculos"
          [value]="veiculo.id">

          {{ veiculo.vehicle }}

        </option>

      </select>

    </div>

    <!-- TOTAL -->
    <div class="card">

      <h3>Total de Vendas</h3>

      <strong>
        {{ veiculoSelecionado?.volumetotal || 0 }}
      </strong>

      <span>Und.</span>

    </div>

    <!-- CONECTADOS -->
    <div class="card">

      <h3>Conectados</h3>

      <strong>
        {{ veiculoSelecionado?.connected || 0 }}
      </strong>

      <span>Und.</span>

    </div>

    <!-- UPDATE SOFTWARE -->
    <div class="card">

      <h3>Update Software</h3>

      <strong>
        {{ veiculoSelecionado?.softwareUpdates || 0 }}
      </strong>

      <span>Und.</span>

    </div>

  </div>


  <!-- IMAGEM DO CARRO -->

  <div class="carro">

    <img
      *ngIf="veiculoSelecionado"
      [src]="veiculoSelecionado.img"
      [alt]="veiculoSelecionado.vehicle">

  </div>


  <!-- INFORMAÇÕES DO VEÍCULO -->

  <div class="tabela">

    <table>

      <thead>

        <tr>
          <th>Código - Vin</th>
          <th>Odômetro</th>
          <th>Nível de Combustível</th>
          <th>Status</th>
          <th>Lat.</th>
          <th>Long.</th>
        </tr>

      </thead>

      <tbody>

        <tr>

          <td>
            {{ dadosVeiculo?.id || '-' }}
          </td>

          <td>
            {{ dadosVeiculo?.odometro || '-' }}
          </td>

          <td>
            {{ dadosVeiculo?.nivelCombustivel || '-' }}%
          </td>

          <td>
            {{ dadosVeiculo?.status || '-' }}
          </td>

          <td>
            {{ dadosVeiculo?.lat || '-' }}
          </td>

          <td>
            {{ dadosVeiculo?.long || '-' }}
          </td>

        </tr>

      </tbody>

    </table>

  </div>

</div>